<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

<br>
<div class="container paint">

  <h4 style="color:white;" align="center"><b>Stweeler graphs</b></h4>
  <h4 style="color:white;" align="center">All graphs show data from the last 10K clicks only.</h4>

  <div class="row paint">
    <div class="col-lg-7 paint">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Clicks per Minute</h3>
        </div>
        <div class="panel-body">
          <%= render "graphs/clicks" %>
        </div>
      </div>

    </div>

    <div class="col-lg-5 paint">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Bots per click</h3>
        </div>
        <div class="panel-body">
          <%= render "graphs/bots" %>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-7 paint">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Clicks per URL</h3>
        </div>
        <div class="panel-body">
          <%= render "graphs/tokens" %>
        </div>
      </div>

    </div>

    <div class="col-lg-5 paint">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Bot types per click</h3>
        </div>
        <div class="panel-body">
          <%= render "graphs/bottypes" %>
        </div>
      </div>

    </div>
  </div>

</div>

<%= render "graphs/theme" %>
