<div class="jumbotron">
  <div class="container">

  	<img src="LOGO-strech.png" width="300"/>
	   </div>
</div>

<div class="container">
<!-- Run our code here-->

Welcome to TNYurl.co.uk!

Please wait while we redirect you in <%= @timer %> seconds...
<!-- Please wait while we redirect you to <%= @url[:url] %> in <%= @timer %> seconds...-->
<!-- Insert some timing here before redirection-->

</div>
<br><br>

<!-- This will redirect to url of the token-->
<meta http-equiv="refresh" content="<%= @timer %>; url=<%= @url[:url] %>" />

<!-- ADS here -->

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- MainAds -->
	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-4169581461120336"
	     data-ad-slot="3276275205"
	     data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>

		    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- MainAds -->
	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-4169581461120336"
	     data-ad-slot="3276275205"
	     data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>

		    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- MainAds -->
	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-4169581461120336"
	     data-ad-slot="3276275205"
	     data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>


